*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #cfcece;
}
.navebar{
    height: 3.5rem;
    width: 100%;
    background-color: #4d636f;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.icons{
    height: 3.5rem;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    font-size: 20px;
}
.icon{
    height: 3.5rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color :hover{
    background-color: rgb(212, 212, 212);
    color: black;
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Icons2 */
.icons2{
    height: 3.5rem;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
                              /* MAin BOdy */
.main_body{
    height: 50rem;
    width: 100%;
    background-color: #cfcece;
    padding-top: 4.1%;
    display: flex;
}
/* Side bar 1 */
.side_bar1{
    height: 45rem;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.card1{
    height: 20rem;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card1_pic{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card1_pic p{
    font-size: 20px;
}
.card1_icons_text{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.C1_icon{
    height: 3rem;
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.C1_icon i{
    margin-right: 20px;
}
/* side bar 1 Card2 */
.card1_text1{
    height: 9rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
}
.card1_text1_content{
    height: 2.8rem;
    width: 100%;
    background-color: #7d97a5;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px;
}
.card1_text1_content i{
    margin-right: 20px;
}
.color2 :hover{
    background-color: white;
    color: black;
}
/* Card1 text2 Of sidebar 1 */
.card1_text2{
    height: 7rem;
    width: 80%;
    background-color: #dfe5e8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.car1_text2_part1{
    height: 2rem;
    width: 100%;
    background-color: #dfe5e8;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.car1_text2_part1 p{
    padding-left: 30px;
}
.cross{
    height: 2rem;
    width: 18%;
    background-color: #becbd2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.car1_text2_part2{
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
}
/* Side Bar2  */
.side_bar2{
   height: 58rem;
   width: 55%;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   background-color: #cfcece;
}
.bar2_card1{
    height: 8rem;
    width: 96%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    border-radius: 5px;
}
.bar2_card1 p{
   font-size: 17px;
   color: rgb(80, 80, 80);
}
.bar2_card1 input{
    height: 2rem;
    width: 96%;
    border: 1px solid rgb(75, 75, 75);
    font-size: 17px;
    padding-left: 20px;
    color: black;
}
.bar2_card1 button{
    height: 2rem;
    width: 14%;
    background-color: #607d8b;
    color: white;
    border: none;
}
/* Card2 */
.bar2_card2{
    height: 30rem;
    width: 96%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bar2_card2_part1{
    height: 8rem;
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.data{
    display: flex;
    height: 6rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.data p{
    font-size: 20px;
    font-weight: lighter;
}
.bar2_card2_part2{
    height: 17rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.btn{
    height: 5rem;
    width: 86%;
}
.btn button{
    height: 2.5rem;
    width: 15%;
    background-color: #607d8b;
    color: white;
    border: none;
    border-radius: 5px;
}
/* Post2 */
.bar2_card3_part1{
    height: 15rem;
    width: 96%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.bar2_card3_part12{
    height: 8rem;
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.bar2_card3_part13{
    width: 90%;
}
/* side bar3 */
.side_bar3{
    height: 50rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.bar3_card1{
    height: 20rem;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.bar3_card1 button{
    height: 2rem;
    width: 80%;
    background-color: #dfe5e8;
    border: none;
}
/* card2 */
.bar3_card2{
    height: 16rem;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 17px;
}
.btns{
    height: 3rem;
    width: 80%;
    background-color: aqua;
    display: flex;
}
.okay{
    height: 3rem;
    width: 50%;
    background-color: rgb(113, 211, 113);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.notokay{
    height: 3rem;
    width: 50%;
    background-color: rgb(221, 111, 117);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
/* Card3 */
.bar3_card3{
    height: 6rem;
    width: 80%;
    background-color: white;
    color: black;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.color3 :hover{
    background-color: rgb(172, 172, 172);
    color: black;
}


/* Make images flexible */
img{
  max-width:100%;
  height:auto;
}

/* ================= TABLET ================= */
@media (max-width: 992px){

  .navebar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .icons{
    width: 70%;
  }
  .icons i{
    font-size: 30px;
  }
  .icons2 img{
    background-color: #4d636f;
  }
  .main_body{
    height:auto;
    display: flex;
    flex-direction: column;
  }

  .side_bar1{
    width:100%;
    flex-direction:column;
    height:auto;
    margin-top: 40px;
  }

  .card1,
  .card1_text1,
  .card1_text2{
    margin-top: 10px;
    width:70%;
    margin-bottom:10px;
  }
   .bar2_card1{
    width: 70%;
   }
   .bar2_card2{
    width: 70%;
    margin-top: 10px;
    height: 410px;
    display: flex;
    flex-direction: column;

   }
  .side_bar2{
    width:100%;
    height:auto;
  }

  .side_bar3{
    width:100%;
    flex-direction:row;
    height:auto;
  }

  .bar3_card1,
  .bar3_card2,
  .bar3_card3{
    width:30%;
  }

  .bar2_card2_part2{
    flex-direction:row;
  }
  .bar2_card2_part2 img{
    width:90%;
  }
  .bar2_card3_part1{
    width: 70%;
    margin-top: 10px;
  }
  .data{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }

  .btn button,
  .bar2_card1 button{
    margin-top: 10px;
    width:40%;
  }
  .side_bar3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
  }
  .bar3_card1 img{
    width: 50%;
    height: 500px;
  }
  .bar3_card1{
    width: 25%;
    margin-top: 10px;
  }
  .bar3_card2{
    width: 28%;
  }
  .bar3_card3{
   display: none;
  }
    
}

/* ================= MOBILE ================= */
@media (max-width: 576px){

  .navebar{
    flex-direction:column;
    height:auto;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icons{
    width:70%;
    justify-content:space-around;
  }

  .main_body{
    flex-direction:column;
    padding-top:10px;
  }

  .side_bar1,
  .side_bar2,
  .side_bar3{
    width:100%;
    height:auto;
  }

  .card1,
  .card1_text1,
  .card1_text2,
  .bar2_card1,
  .bar2_card2,
  .bar2_card3_part1,
  .bar3_card1,
  .bar3_card2,
  .bar3_card3{
    width:95%;
  }
  .bar2_card2{
    margin-top: 10px;
  }
  .bar2_card2_part2{
    flex-direction:column;
  }
  .bar2_card2_part2 img{
    width:100%;
    margin-bottom:10px;
  }

  .btn button{
    width:40%;
    margin-top: 20px;
  }
  .bar2_card3_part1{
    height: 300px;
    margin-top: 10px;
  }
  .bar3_card1{
    margin-top: 10px;
  }
  .bar3_card2{
    margin-top: 10px;
  }
  .bar3_card3{
    margin-top: 10px;
  }
  .data{
    width:70%;
  }
  .side_bar3{
    display: flex;
    flex-direction: column;
  }
}
